body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:403px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:675px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:675px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:399px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:575px;
  width:210px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
