body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:744px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:744px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:489px;
  width:111px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:582px;
  width:415px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
