body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:467px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:788px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:788px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
