body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:607px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-11px;
  width:360px;
  height:607px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:374px;
  width:79px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
