body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:695px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u994_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:412px;
  width:331px;
  height:119px;
}
#u994_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994.selected {
}
#u995 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:416px;
  width:320px;
  height:113px;
}
#u996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:113px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u997_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:587px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u997_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u997.mouseOver {
  opacity:0.8;
}
#u997_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u997.mouseDown {
  opacity:1;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:411px;
  width:309px;
  height:119px;
}
#u1000_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:119px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000.selected {
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:414px;
  width:297px;
  height:113px;
}
#u1002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:113px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:111px;
  width:689px;
  height:208px;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:0px;
  width:68px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:0px;
  width:92px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:75px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:0px;
  width:109px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:0px;
  width:89px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:72px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:0px;
  width:155px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:138px;
  word-wrap:break-word;
}
#u1018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:101px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:40px;
  width:70px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:40px;
  width:68px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u1024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:40px;
  width:92px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:40px;
  width:109px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:40px;
  width:89px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:40px;
  width:155px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:101px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:80px;
  width:70px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:80px;
  width:68px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:80px;
  width:92px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:80px;
  width:109px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:80px;
  width:89px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:80px;
  width:155px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:101px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:84px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:120px;
  width:70px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:40px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:120px;
  width:68px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:51px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:120px;
  width:92px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:120px;
  width:109px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:40px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:120px;
  width:89px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:40px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:120px;
  width:155px;
  height:40px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:43px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:101px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:84px;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:43px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:160px;
  width:70px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:43px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:160px;
  width:68px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:51px;
  word-wrap:break-word;
}
#u1066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:43px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:160px;
  width:92px;
  height:43px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:43px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:160px;
  width:109px;
  height:43px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:43px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:160px;
  width:89px;
  height:43px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:43px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:160px;
  width:155px;
  height:43px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#1ABC9C;
  text-align:left;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:14px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:69px;
  width:94px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1074_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1074.mouseOver {
  opacity:0.8;
}
#u1074_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1074.mouseDown {
  opacity:1;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u1076_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:69px;
  width:97px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1076_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1076.mouseOver {
  opacity:0.8;
}
#u1076_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u1076.mouseDown {
  opacity:1;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  word-wrap:break-word;
}
#u1078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:36px;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:10px;
  width:287px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:36px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:17px;
  width:227px;
  word-wrap:break-word;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:157px;
  width:74px;
  height:30px;
}
#u1080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1080_input:disabled {
  color:grayText;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:197px;
  width:74px;
  height:30px;
}
#u1081_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1081_input:disabled {
  color:grayText;
}
#u1082 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:237px;
  width:74px;
  height:30px;
}
#u1082_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1082_input:disabled {
  color:grayText;
}
#u1083 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:277px;
  width:74px;
  height:30px;
}
#u1083_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u1083_input:disabled {
  color:grayText;
}
