body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:467px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2063 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:95px;
  width:52px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2064 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:36px;
  width:336px;
  height:154px;
}
#u2066_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2066.selected {
}
#u2067 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:41px;
  width:324px;
  height:146px;
}
#u2068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:146px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2069_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2069 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:531px;
  width:85px;
  height:35px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2069_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2069.mouseOver {
  opacity:0.8;
}
#u2069_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:35px;
  background:inherit;
  background-color:rgba(59, 177, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2069.mouseDown {
  opacity:1;
}
#u2070 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:81px;
  word-wrap:break-word;
}
#u2071 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2072 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:394px;
  width:69px;
  height:52px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u2073 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u2074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2075_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:394px;
  width:88px;
  height:88px;
}
#u2076 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:84px;
  word-wrap:break-word;
}
#u2077_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:51px;
}
#u2077 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:400px;
  width:81px;
  height:51px;
}
#u2078 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2079 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2080_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2080 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:454px;
  width:17px;
  height:18px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:40px;
  color:#BFBFBF;
}
#u2081 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:8px;
}
#u2082 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:457px;
  width:9px;
  height:8px;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BFBFBF;
}
#u2083 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:88px;
}
#u2084 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:394px;
  width:88px;
  height:88px;
  color:rgba(0, 0, 0, 0.427450980392157);
}
#u2085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:84px;
  word-wrap:break-word;
}
#u2086_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2086 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:266px;
  width:52px;
  height:17px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u2087 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2088 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2089_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2089 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:207px;
  width:336px;
  height:154px;
}
#u2089_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(26, 188, 156, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2089.selected {
}
#u2090 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:69px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:212px;
  width:324px;
  height:146px;
}
#u2091_input {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:146px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
