body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:207px;
  width:100px;
  height:63px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:29px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
