body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:613px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:357px;
  height:613px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:298px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:49px;
  width:100px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:49px;
  width:100px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:138px;
  width:316px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
