body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:391px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:667px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:667px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:326px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:87px;
  width:54px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
