body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:724px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-9px;
  width:461px;
  height:724px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:354px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:162px;
  width:391px;
  height:91px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:263px;
  width:391px;
  height:79px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
