body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:404px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:677px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:677px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:330px;
  width:400px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:568px;
  width:197px;
  height:62px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
