body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:371px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:0px;
  width:370px;
  height:657px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:182px;
  width:333px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:265px;
  width:333px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:379px;
  width:333px;
  height:76px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:84px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:84px;
  width:100px;
  height:43px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
