body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:989px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:755px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:755px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:370px;
  width:985px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:420px;
  width:423px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:420px;
  width:422px;
  height:78px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
