body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:451px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:762px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:762px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:373px;
  width:447px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:115px;
  width:322px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
