body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:603px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:603px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:294px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:66px;
  width:100px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
