
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1519538189211') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuyin:before { content: "\e600"; }

.icon-iconfontbianji:before { content: "\e652"; }

.icon-xiaoxi1:before { content: "\e62e"; }

.icon-xiaoshumiao:before { content: "\e67c"; }

.icon-fanhui:before { content: "\e607"; }

.icon-chexiao-copy:before { content: "\e601"; }

.icon-daoxu:before { content: "\e61a"; }

.icon-xiaoxi:before { content: "\e60f"; }

.icon-paizhao:before { content: "\e872"; }

.icon-cuidankaobei:before { content: "\e63a"; }

