body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:595px;
  width:161px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u223 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:595px;
  width:158px;
  height:55px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u224 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:33px;
  width:48px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
