body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:105px;
  width:370px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:208px;
  width:370px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u355 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:605px;
  width:152px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u356 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:30px;
  width:66px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
