body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:695px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:695px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:340px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:594px;
  width:86px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
