body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:749px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:749px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:366px;
  width:440px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:582px;
  width:426px;
  height:74px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
