body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:671px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:671px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:671px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:2px;
  width:401px;
  height:671px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:328px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
