body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:657px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:320px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:78px;
  width:120px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u182 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:173px;
  width:127px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u183 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:598px;
  width:124px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u184 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:598px;
  width:70px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u185 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:28px;
  width:67px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u186 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:598px;
  width:92px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
